<div class="grid col-span-12  p-8">
    <button type="button" mat-dialog-close
        class="float-right ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
        data-dismiss-target="#toast-default" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
    </button>


    <div class="w-[450px]">

        <form>
            <h3>Upload Lead</h3>

            <div class="grid gap-4 mb-3 grid-cols-12">

                <div class="col-span-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Name</label>
                    <input type="text"  [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
                       
                        Class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                </div>
                <div class="col-span-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Number</label>
                    <input  [(ngModel)]="contact" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required />
                </div>

                <div class="col-span-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
                    </label>
                    <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>

                <div class="col-span-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company Name</label>
                    <input type="text" [(ngModel)]="company_name" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div class="col-span-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company Size</label>
                    <input type="number" [(ngModel)]="company_size" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
               
                <div class="col-span-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company Industry</label>
                    <input type="text"[(ngModel)]="company_industry" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div class="col-span-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Lead Status</label>
                    <select [(ngModel)]="lead_status" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="" disabled selected>Status</option>
                        <option value="complete">Intersted</option>
                        <option value="incomplete">Non-Intersted</option>
                    </select>
                </div>
               
                <div class="col-span-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Follow-up Date</label>
                    <input type="date" [(ngModel)]="follow_date" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div class="col-span-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Conversation Date</label>
                    <input type="date" [(ngModel)]="conversation" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div class="col-span-6 ">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Lead Tag</label>
                    <select [(ngModel)]="lead_tag" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="" disabled selected> Status</option>
                        <option value="complete">VIP</option>
                        <option value="incomplete">Regular</option>
                        <option value="pending">Ordinery</option>
                    </select>
                </div>

                <div class="col-span-12">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Lead Description</label>
                    <textarea type="date"[(ngModel)]="lead_description" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required></textarea>
                </div>
            </div>
            <button (click)="onSubmit()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
    </div>


</div>