<div class=" h-screen w-screen flex justify-center items-center">
    <div class="border p-10 w-[420px]" *ngIf="!showtable">
        <form class="w-full" (ngSubmit)="onSubmit() ">
            <div class="relative z-0 w-full mb-6 group">
                <input type="text" [(ngModel)]="userlogin" [ngModelOptions]="{standalone: true}" (input)="loginValidation()"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                    <span class="material-symbols-outlined opacity-50">
                        person
                    </span>
                </div>
                <label
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
                    <div *ngIf="log">
                        <p class="text-red-200 mt-1 mb-">*First Name Should be Of atleast 4 Characters</p>
                    </div>
            </div>
           

            <div class="relative z-0 w-full mb-6 group">
                <input [type]="hidePassword? 'password':'text'" [(ngModel)]="passlogin" (input)="passvalidation()"
                    [ngModelOptions]="{standalone: true}"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <div class="absolute inset-y-0 right-0 flex justify-center items-center pr-0.5  bg-gray-300">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" class="opacity-50">
                        <mat-icon>{{ password ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
                <label
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                    <div *ngIf ="pas">
                        <p class="text-red-200 mt-1 mb-5">*Password Should be must 8 Character long </p>
        
                    </div>
            </div>
           

            <button [disabled]="DisableButton"
                class="w-full text-white bg-blue-700 hover:bg-green-400  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Login
            </button>


        </form>
        <span class="flex justify-center items-center  mt-5">Have not an account?
            <a (click)="showform()" class="text-[#7854F7] ">Register</a>
        </span>
    </div>



    <div class="border p-10 w-[420px]" *ngIf="showtable">
        <form class="w-full">
            <div class="relative z-0 w-full mb-6 group">
                <input type="text" [(ngModel)]="first_name" [ngModelOptions]="{standalone: true}" (input)="practi()"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                    <span class="material-symbols-outlined opacity-50">
                        person
                    </span>
                </div>
                <label
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
                    Name</label>
                <div *ngIf="pra">
                    <p class="text-red-200 mt-1">*First Name Should be Of atleast 4 Characters</p>
                </div>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <input type="text" [(ngModel)]="last_name" [ngModelOptions]="{standalone: true}" (input)="practi()"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                    <span class="material-symbols-outlined opacity-50">
                        person
                    </span>
                </div>
                <label
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
                    Name</label>
                <div *ngIf="pra1">
                    <p class="text-red-200 mt-1">*Last Name Should be Of atleast 4 Characters</p>
                </div>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" (input)="practi()"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                    <span class="material-symbols-outlined opacity-50">
                        person
                    </span>
                </div>
                <label
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
                <div *ngIf="pra2">
                    <p class="text-red-200 mt-1">*Username Should be Of atleast 4 Characters</p>
                </div>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <input [type]="hidePasswordc1? 'password':'text'" [(ngModel)]="pass"
                    [ngModelOptions]="{standalone: true}"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <div class="absolute inset-y-0 right-0 flex justify-center items-center pr-0.5 ">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility1()" class="opacity-50">
                        <mat-icon>{{ hidePasswordc1 ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
                <label
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <input [type]="hidePasswordc2? 'password':'text'" [(ngModel)]="pass1"
                    [ngModelOptions]="{standalone: true}"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <div class="absolute inset-y-0 right-0 flex justify-center items-center pr-0.5 ">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility2()" class="opacity-50">
                        <mat-icon>{{ hidePasswordc2 ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>

                </div>
                <div *ngIf="this.pass !== this.pass1">
                    <p class="text-red-200 mt-1">*Password and Confirm Password Should Be Same</p>
                </div>
                <label
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm
                    Password</label>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <input type="email" name="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
                    (input)="emailvalidation()"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />

                <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                    <span class="material-symbols-outlined opacity-50">
                        mail
                    </span>
                </div>
                <label
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
                    <span *ngIf="em==true">
                        <p class="text-red-200 mt-1"> Please enter Valid format</p>
                    </span>
            </div>
           

            <div class="relative z-0 w-full mb-6 group">
                <input type="number" [(ngModel)]="contact_number" [ngModelOptions]="{standalone: true}"
                    (input)="numberValidation()"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                    <span class="material-symbols-outlined opacity-50">
                        call
                    </span>
                </div>
                <label
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contact
                    Number</label>
                    <div *ngIf="numLen==true">
                        <p class="text-red-200 mt-1 ">Please enter valid contact number </p>
                    </div>
            </div>
           
            <div class="relative z-0 w-full mb-6 group">
                <select required [(ngModel)]="role" [ngModelOptions]="{standalone: true}"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                    <option value="" disabled selected>Role</option>
                    <option value="admin">Admin</option>
                    <option value="employee">Employee</option>
                    <option value="vendor">Vendor</option>
                </select>
                <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                    <span class="material-symbols-outlined opacity-50">
                        arrow_drop_down
                    </span>
                </div>
                <label
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Role
                </label>

            </div>
            <button (click)="regisetr()"
                class="w-full text-white bg-blue-700 hover:bg-green-400  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Register
            </button>
        </form>
        <span class="flex justify-center items-center  mt-5">Already have an account?
            <a (click)="showform()" class="text-[#7854F7] ">Login</a>
        </span>
    </div>
</div>