<div class="grid col-span-12  p-8">
    <button type="button" mat-dialog-close
        class="float-right ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
        data-dismiss-target="#toast-default" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
    </button>

    <div class="grid gap-4 mb-3 grid-cols-2" *ngIf="this._servicesService.categoryData.length<0">
        <form >
            <h3>Create Categories</h3>
            <fieldset>
                <legend >Create Category</legend>
                <input type="text" [(ngModel)]="categoryF" [ngModelOptions]="{standalone: true}" >
            </fieldset>
            <fieldset>
                <legend >Create Subcategory</legend>
                <input type="text" [(ngModel)]="subcategoryF" [ngModelOptions]="{standalone: true}" >
            </fieldset>
            <button  (click)="onsubmitCat()"  >Submit</button>
        </form>
    </div>
    <div *ngIf=" this._servicesService.categoryData.length>0" class="w-[450px]">
        <form  enctype="multipart/form-data">
            <h3>Upload Product</h3>

            <div class="grid gap-4 mb-3 grid-cols-12">
                <div class="col-span-12">
                    <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categories</label>
                    <select [(ngModel)]="subcategory" [ngModelOptions]="{standalone: true}" class="w-full border p-2.5">
                        <optgroup *ngFor="let category of  this._servicesService.categoryData"
                            [label]="category.product_category">
                            <option *ngFor="let ele of category.subcategories" [value]="ele._id">
                                {{ele.product_subcategory}}
                            </option>
                        </optgroup>
                    </select>
                </div>

                <div class="col-span-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
                    <input type="text" id="first_name" [(ngModel)]="product_name" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                         required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Description</label>
                    <input type="text" [(ngModel)]="product_description" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Brand Name</label>
                    <input type="text" [(ngModel)]="brand_name" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Manufacturer Details</label>
                    <input type="text" [(ngModel)]="manufacturer_details" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Upload an image</label>
                    <input type="file" 
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        accept="image/jpg,image/jpeg,image/png" (change)="loadImage($event)" required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Upload an gif</label>
                    <input type="file" 
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        accept="image/jpg,image/jpeg,image/png/gif" (change)="loadGif($event)" required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">price</label>
                    <input type="text" [(ngModel)]="product_price" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Currency</label>
                    <input type="text" [(ngModel)]="currency" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Width</label>
                    <input type="number" [(ngModel)]="product_dimensions_width" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Length</label>
                    <input type="number" [(ngModel)]="product_dimensions_length" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Height</label>
                    <input type="number" [(ngModel)]="product_dimensions_height" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Weight</label>
                    <input type="number" [(ngModel)]="product_weight" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Available Stock</label>
                    <input type="number" [(ngModel)]="available_stock" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                         required>
                </div>
                <div class="col-span-6">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Min required stock</label>
                    <input type="number" [(ngModel)]="min_required_stock" [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                         required>
                </div>
            </div>
            <button type="submit" (click)="onSubmit()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>


















    </div>
</div>