<div class="p-7 sm:p-12 bg-white">
    <button mat-dialog-close
        class="absolute top-2 right-2 bg-gray-100 text-gray-500 hover:text-gray-900 rounded-md hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8"
        type="button" mat-dialog-close data-dismiss-target="#toast-default" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
    </button>
    <div class="grid grid-cols-12 gap-y-5" *ngIf="showTable">
        <span class="col-span-12 bg-gray-100 px-3 py-1">Details</span>
        <div class="col-span-12 flex px-3 py-1 items-center">
            <div class="col-span-2"><span class="text-sm font-medium text-gray-800">Name</span></div>
            <div class="col-span-10 text-right w-full"><span class="ml-4 text-xs font-normal">
                    {{data.data.employee_firstname+"
                    "+data.data.employee_lastname}}</span></div>
        </div>
        <div class="col-span-12  flex px-3 py-1 items-center">
            <div class="col-span-2"><span class="text-sm font-medium text-gray-800">Department</span></div>
            <div class="col-span-10  text-right w-full"><span
                    class="ml-4 text-xs font-normal">{{data.data.employee_department}}</span>
            </div>
        </div>
        <div class="col-span-12  flex px-3 py-1 items-center">
            <div class="col-span-2"><span class="text-sm font-medium text-gray-800">Contact-Number</span></div>
            <div class="col-span-10  text-right w-full"><span
                    class="ml-4 text-xs font-normal">{{data.data.contact_number}}</span></div>
        </div>


        <div class="col-span-12 flex px-3 py-1 items-center">
            <div class="col-span-2"><span class="text-sm font-medium text-gray-800">Email</span></div>
            <div class="col-span-10  text-right w-full"><span class="ml-4 text-xs font-normal">
                    {{data.data.email_id}}</span></div>
        </div>
        <div class="col-span-12  flex px-3 py-1 items-center ">
            <div class="col-span-2"><span class="text-sm font-medium text-gray-800">Status</span></div>
            <div class="col-span-10  text-right w-full"><span class="ml-4 text-xs font-normal"
                    [innerHTML]="data.data.employment_status?'Active':'InActive'"></span></div>
        </div>

        <div class="col-span-12 flex px-3 py-1 items-center ">
            <div class="col-span-2 "><span class="text-sm font-medium text-gray-800">Hire-Date</span></div>
            <div class="col-span-10  text-right w-full"><span
                    class="ml-4 text-xs font-normal">{{data.data.hire_date|date:'dd/MM/YYYY'}}</span></div>
        </div>
    </div>
















    <div *ngIf="!showTable">
        <form #editForm="ngForm" (ngSubmit)="saveDetails()" novalidate>
            <div class="grid grid-cols-12 py-2 gap-5 mt-4">
                <div class="flex flex-col col-span-6 sm:col-span-12 md:col-span-6 lg:col-span-4">
                    <label class="text-sm font-semibold opacity-75" for="email">Email</label>
                    <input [ngModelOptions]="{standalone: true}"
                        class="border bg-[#FCFCFC] text-sm font-normal py-[6px] px-2 sm:py-[10px] sm:px-4 tracking-wide outline-none mt-2 hover:bg-gray-100"
                        type="email" id="email" name="email" [(ngModel)]="email" required #emailField="ngModel" />
                    <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
                        <span class="text-red-200">*Email is required and must be a valid email.</span>
                    </div>
                </div>
                <div class="flex flex-col col-span-6 sm:col-span-12 md:col-span-6 lg:col-span-4">
                    <label class="text-sm font-semibold opacity-75" for="contact">Contact-Number</label>
                    <input [ngModelOptions]="{standalone: true}"
                        class="border bg-[#FCFCFC] text-sm font-normal py-[6px] px-2 sm:py-[10px] sm:px-4 tracking-wide outline-none mt-2 hover:bg-gray-100"
                        [(ngModel)]="contact" required type="number" id="contact" name="contact"
                        #contactField="ngModel" />
                    <div *ngIf="contactField.invalid && (contactField.dirty || contactField.touched)">
                        <span class="text-red-200">*Contact number is required.</span>
                    </div>
                </div>
                <div class="flex flex-col col-span-6 sm:col-span-12 md:col-span-6 lg:col-span-4">
                    <label class="text-sm font-semibold opacity-75" for="name1"> First Name</label>
                    <input [(ngModel)]="first_name" required [ngModelOptions]="{standalone: true}"
                        class="border bg-[#FCFCFC] text-sm font-normal py-[6px] px-2 sm:py-[10px] sm:px-4 tracking-wide outline-none mt-2 hover:bg-gray-100"
                        type="text" id="name1" name="name1" #name1Field="ngModel" />
                    <div *ngIf="name1Field.invalid && (name1Field.dirty || name1Field.touched)">
                        <span class="text-red-200">* First Name is required.</span>
                    </div>
                </div>
                <div class="flex flex-col col-span-6 sm:col-span-12 md:col-span-6 lg:col-span-4">
                    <label class="text-sm font-semibold opacity-75" for="name2">Last Name</label>
                    <input [(ngModel)]="last_name" required [ngModelOptions]="{standalone: true}"
                        class="border bg-[#FCFCFC] text-sm font-normal py-[6px] px-2 sm:py-[10px] sm:px-4 tracking-wide outline-none mt-2 hover:bg-gray-100"
                        type="text" id="name2" name="name2" #name2Field="ngModel" />

                    <div *ngIf="name2Field.invalid && (name2Field.dirty || name2Field.touched)">
                        <span class="text-red-200">*Last Name is required.</span>
                    </div>
                </div>

                <div class="flex flex-col col-span-6 mt-2 sm:col-span-12 md:col-span-6 lg:col-span-4">
                    <label class="text-sm font-semibold opacity-75" for="status">Status</label>
                    <select [(ngModel)]="Status" required #statusField="ngModel" [ngModelOptions]="{standalone: true}"
                        class="border bg-[#FCFCFC] text-sm font-normal py-[6px] px-2 sm:py-[10px] sm:px-4 tracking-wide outline-none mt-0 hover:bg-gray-100">
                        <option value="" disabled>Select an option</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <div *ngIf="statusField.invalid && (statusField.dirty || statusField.touched)">
                        <span class="text-red-200">*Status is required.</span>
                    </div>
                </div>
                <div class="flex flex-col col-span-6 mt-2 sm:col-span-12 md:col-span-6 lg:col-span-4">
                    <label class="text-sm font-semibold opacity-75" for="department">Department</label>
                    <select [(ngModel)]="Department" required #departmentField="ngModel"
                        [ngModelOptions]="{standalone: true}"
                        class="border bg-[#FCFCFC] text-sm font-normal py-[6px] px-2 sm:py-[10px] sm:px-4 tracking-wide outline-none mt-0 hover-bg-gray-100">
                        <option value="" disabled>Select an option</option>
                        <option class="text-center" value="IT">IT</option>
                        <option class="text-center" value="Marketing">Marketing</option>
                        <option class="text-center" value="Finance">Finance</option>
                        <option class="text-center" value="Sales">Sales</option>
                        <option class="text-center" value="HR">HR</option>
                    </select>
                    <div *ngIf="departmentField.invalid && (departmentField.dirty || departmentField.touched)">
                        <span class="text-red-200">*Department is required.</span>
                    </div>
                </div>
                <div class="flex flex-col col-span-6 sm:col-span-12 md:col-span-6 lg:col-span-4">
                    <label class="text-sm font-semibold opacity-75" for="hire_date">Hire-Date</label>
                    <input [(ngModel)]="hire_date" required [ngModelOptions]="{standalone: true}"
                        class="border bg-[#FCFCFC] text-sm font-normal py-[6px] px-2 sm:py-[10px] sm:px-4 tracking-wide outline-none mt-2 hover:bg-gray-100"
                        type="date" name="hire_date" #hireDateField="ngModel" />
                    <div *ngIf="hireDateField.invalid && (hireDateField.dirty || hireDateField.touched)">
                        <span class="text-red-200">*Hire date is required.</span>
                    </div>
                </div>
            </div>
            <div class="py-1 flex gap-x-4 mt-4 mx-2">
                <button type="submit" [disabled]="editForm.invalid "
                    class="bg-[#6F4EF6] hover:bg-[#41b78e] mt-5 shadow-md shadow-gray-400 text-base text-white font-normal py-[10px] px-8 tracking-wide">Save</button>
                <button type="button" (click)="cancelEdit()"
                    class="text-red-700 border bg-red-300 mt-5 shadow-md shadow-gray-400 text-base font-normal py-[10px] px-8 tracking-wide">Cancel</button>
            </div>
        </form>

    </div>


    <div class class="grid grid-cols-12 gap-x-4 mt-8 mx-2" *ngIf="showTable">
        <button
            class="col-span-6 bg-[#6F4EF6] hover:bg-[#41b78e] focus:outline-none font-normal text-sm w-full sm:w-auto px-5 py-2 text-cente"
            (click)="editDetails()">Edit</button>
        <button
            class="col-span-6 text-red-700 border bg-red-300  focus:outline-none font-normal  text-sm w-full sm:w-auto px-5 py-2 text-cente"
            (click)="DeleteDetails()">Delete</button>
    </div>