<div class="relative overflow-x-auto p-24">
    <button type="button" mat-dialog-close
        class="relative top-[-50px] right-[-50px] float-right ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
        data-dismiss-target="#toast-default" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
    </button>

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" *ngIf="showTable">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 rounded-lg" colspan="2">
                    Detail's
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Name
                </th>
                <td class="px-6 py-4">
                    {{data.data.employee_firstname+" "+data.data.employee_lastname}}
                </td>
            </tr>

            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Department
                </th>
                <td class="px-6 py-4">
                    {{data.data.employee_department}}
                </td>
            </tr>

            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Contact Number
                </th>
                <td class="px-6 py-4">
                    {{data.data.contact_number}}
                </td>
            </tr>

            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Email
                </th>
                <td class="px-6 py-4">
                    {{data.data.email_id}}
                </td>
            </tr>

            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Status
                </th>
                <td class="px-6 py-4" [innerHTML]="data.data.employment_status?'Active':'InActive'"></td>
            </tr>

            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Hire Date
                </th>
                <td class="px-6 py-4">
                    {{data.data.hire_date|date:'dd/MM/YYYY'}}
                </td>
            </tr>
        </tbody>
        <!-- <tfoot>
            <tr class="font-semibold text-gray-900 dark:text-white">
                <th scope="row" class="px-6 py-3 text-base">Total</th>
                <td class="px-6 py-3">3</td>
                <td class="px-6 py-3">21,000</td>
            </tr>
        </tfoot> -->
    </table>


    <div *ngIf="!showTable">
        <form #myForm="ngForm" class="flex flex-col space-y-4">

            <!-- Email -->
            <div class="mb-4">
                <label for="email" class="text-sm font-medium">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" [ngModelOptions]="{ standalone: true }"
                    required email
                    class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300">
            </div>

            <!-- Contact -->
            <div class="mb-4">
                <label for="contact" class="text-sm font-medium">Contact</label>
                <input type="text" id="contact" name="contact" [(ngModel)]="contact"
                    [ngModelOptions]="{ standalone: true }" required contact
                    class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300">
            </div>

            <!-- Name -->
            <div class="mb-4">
                <label for="name1" class="text-sm font-medium">Name</label>
                <input type="text" id="name1" name="name1" [(ngModel)]="name1" [ngModelOptions]="{ standalone: true }"
                    required name
                    class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300">
            </div>

            <!-- Hire Date -->
            <div class="mb-4">
                <label for="hire_date" class="text-sm font-medium">Hire Date</label>
                <input type="date" id="hire_date" name="hire_date" [(ngModel)]="hire_date"
                    [ngModelOptions]="{ standalone: true }" required date
                    class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300">
            </div>

            <!-- Department -->
            <div class="mb-4">
                <label for="Department" class="text-sm font-medium">Department</label>
                <select id="Department" name="Department" [(ngModel)]="Department"
                    [ngModelOptions]="{ standalone: true }" required department
                    class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300">
                    <option value="" disabled selected>Select an option</option>
                    <option value="IT">IT</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Finance">Finance</option>
                    <option value="Sales">Sales</option>
                    <option value="HR">HR</option>
                </select>
            </div>

            <!-- Status -->
            <div class="mb-4">
                <label for="Status" class="text-sm font-medium">Status</label>
                <select id="Status" name="Status" [(ngModel)]="Status" [ngModelOptions]="{ standalone: true }" required
                    status
                    class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300">
                    <option value="" disabled selected>Status</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>

            <!-- Buttons -->
            <div class="flex justify-between items-center mt-8">
                <button type="button"
                    class="text-green-700 border border-green-700 focus:outline-none font-medium rounded-lg text-sm px-5 py-2 text-center"
                    (click)="saveDetails()" [disabled]="!myForm.valid || !myForm.dirty" >
                    Save
                </button>

                <button type="button"
                    class="text-red-700 border border-red-700 focus:outline-none font-medium rounded-lg text-sm px-5 py-2 text-cente"
                    (click)="cancelEdit()">
                    Cancel
                </button>
            </div>
        </form>
    </div>




    <div class="flex justify-between items-center mt-8" *ngIf="showTable">
        <button
            class="text-green-700 border border-green-700 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2 text-cente"
            (click)="editDetails()">Edit</button>
        <button
            class="text-red-700 border border-red-700 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2 text-cente">Delete</button>
    </div>
</div>