
<div class="w-screen box-border grid grid-cols-12 bg-white">
    <div class="bg-white py-3 absolute 2xl:static top-0 left-0 2xl:block 2xl:col-span-2 overflow-x-hidden overflow-y-scroll h-screen z-40 border-r" *ngIf="!IsMobile"
>
        <div class="flex flex-col justify-between items-center">
            <button (click)="toggleMenubar()" class="absolute top-2 right-2 bg-gray-100 text-gray-500 hover:text-gray-900 rounded-md hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 2xl:hidden" type="button" mat-dialog-close data-dismiss-target="#toast-default" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
            </button>
            <div class="flex mt-14">
                <div class=" rounded-full overflow-hidden">
                    <img class="mx-auto" src="https://cashier-bdevs.vercel.app/assets/img/user/user-1.png"
                        alt="User picture" />
                </div>
                <div class="flex flex-col justify-center ml-4">
                    <span class="text-base font-semibold">Hi, Admin
                        <span
                            class="text-yellow-600 border border-yellow-600 text-[10px] font-semibold rounded-md px-1 py-[0.1px] ml-1 relative top-[-2px]">PRO</span>
                    </span>
                    <span class="text-[13px] font-light">Admin User</span>
                </div>
            </div>
            <div class="mt-8 p-4">
                <ul>
                    <li class="bg-gray-100 cursor-pointer w-[230px] p-4 rounded-lg flex" (click)="showDashboard()">
                        <span class="material-symbols-outlined text-[#6F72F5]">
                            home
                            </span>
                        <span class="font-semibold text-[#6F72F5] ml-4">Dashboard</span>
                    </li>

                    <li class="bg-white hover:bg-gray-100 cursor-pointer w-[230px] p-4 rounded-lg flex"
                        (click)="toggleParagraphs()">
                        <span class="material-symbols-outlined text-[#6F72F5]   ">
                            account_balance
                            </span>
                        <span class="font-semibold text-black hover:text-[#6F72F5] ml-4">Bill</span>
                    </li>

                    <ul class="list-disc opacity-75 relative top-0 left-8 p-1 w-[198px]  " [hidden]="hideParagraphs">
                        <li class="py-2 my-1 bg-white cursor-pointer hover:text-[#6F72F5]" (click)="openAddbill()"> <span
                                class="text-sm font-semibold ">Add Bill</span></li>
                        <li class="py-2 my-1 bg-white cursor-pointer hover:text-[#6F72F5]" (click)="openManagebill()"> <span
                                class="text-sm font-semibold">Manage Bill</span></li>
                    </ul>

                    <li class="bg-white hover:bg-gray-100 cursor-pointer w-[230px] p-4 rounded-lg flex " (click)="open()">
                        <i class="material-symbols-outlined text-[#6F72F5]">
                            groups
                        </i>
                        <span class="font-semibold text-black  hover:text-[#6F72F5] ml-4">Employees</span>
                    </li>

                    <li class="bg-white hover:bg-gray-100 cursor-pointer w-[230px] p-4 rounded-lg flex"
                        (click)="openProductsComponent()">
                        <span class="material-symbols-outlined text-[#6F72F5]">
                            inventory_2
                            </span>
                        <span class="font-semibold  text-black  hover:text-[#6F72F5] ml-4">Products</span>
                    </li>

                    <li class="bg-white hover:bg-gray-100 cursor-pointer w-[230px] p-4 rounded-lg flex" (click)="OpenProject()">
                        <span class="material-symbols-outlined text-[#6F72F5]">
                            task
                            </span>
                        <span class="font-semibold  text-black  hover:text-[#6F72F5]  ml-4">Projects</span>
                    </li>
                    <!-- <li class="bg-white hover:bg-gray-100 cursor-pointer w-[230px] p-4 rounded-lg flex" (click)="OpenCRM()">
                        <span class="material-symbols-outlined text-[#6F72F5]">
                            data_table
                            </span>
                        <span class="font-semibold  text-black  hover:text-[#6F72F5]  ml-4" >CRM</span>
                    </li> -->
                    <!-- <li class="bg-white hover:bg-gray-100 cursor-pointer w-[230px] p-4 rounded-lg flex" (click)="OpenPayroll()">
                        <span class="material-symbols-outlined text-[#6F72F5]">
                            payments
                        </span>
                        <span class="font-semibold  text-black  hover:text-[#6F72F5]  ml-4">Payroll</span>
                    </li> -->
                </ul>
            </div>
            <div class=" mt-8 p-4">
                <!-- <span class="text-2xl font-bold text-[#6F72F5]">
                    Apc web works pvt. ltd.
                </span> -->
            </div>
        </div>
    </div>
    <div class="col-span-12 2xl:col-span-10  overflow-x-hidden overflow-y-scroll h-screen">
        <div class="grid grid-cols-12 border-b border-b-gray-200">
            <div class="col-span-4 md:col-span-10 bg-white">
                <div class="flex justify-between py-3 px-8 border-r border-r-gray-200">
                    <div class="flex-col hidden sm:block">
                        <span class="text-xl font-semibold">Dashboard</span>
                        <ul class="mt-[2px]">
                            <li><span class="text-xs font-semibold">Home</span></li>
                        </ul>
                    </div>
                    <div class="flex justify-center items-center">
                        <ul class="list-none inline-flex gap-2 opacity-80">
                            <li>
                                <button
                                    class="border border-gray-300 w-9 h-9 cursor-pointer mt-[2px] flex justify-center items-center">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </button>
                            </li>
                            <li class="2xl:hidden">
                                <button class="w-10 h-10 text-gray-600 cursor-pointer mt-[2px]"
                                    (click)="toggleMenubar()"       >
                                    <span class="material-symbols-outlined">
                                        menu
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-span-8 md:col-span-2 bg-white flex justify-start items-center">
                <ul class="list-none inline-flex gap-4  mt-[10px] ml-4 opacity-80">
                    <li>
                        <span class="w-9 h-9 text-gray-600 cursor-pointerflex justify-center items-center">
                            <i class="material-symbols-outlined">
                                notifications
                            </i>
                            <div class="w-2 h-2 rounded-full bg-red-500 shadow-lg relative top-[-32px] right-[-14px] ">
                            </div>
                        </span>
                    </li>
                    <li>
                        <span class="w-10 h-10 text-gray-600 cursor-pointer mt-[2px]">
                            <i class="material-symbols-outlined">
                                message
                            </i>
                            <div
                                class="w-2 h-2 rounded-full bg-green-500 shadow-lg relative top-[-32px] right-[-23px] ">
                            </div>

                        </span>
                    </li>
                    <li>
                        <span class="w-10 h-10 text-gray-600 cursor-pointer mt-[2px]">
                            <i class="material-symbols-outlined">
                                settings
                            </i>
                        </span>
                    </li>
                    <li>
                        <span class="w-10 h-10 text-gray-600 cursor-pointer mt-[2px]">
                            <i class="material-symbols-outlined"(click)="logOut()">
                                logout
                                </i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="block sm:hidden py-5 px-8 bg-white">
            <span class="text-xl font-semibold">Dashboard</span>
            <ul class="mt-[2px]">
                <li><span class="text-xs font-semibold">Home</span></li>
            </ul>
        </div>

        <div class="grid grid-cols-12 gap-5 bg-[#eef0f8] p-7" *ngIf="showTable">
            <div class="p-6 col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-12 xl:col-span-9 bg-white rounded-xl">
                <div class="flex flex-row justify-between items-center">
                    <span class="text-base tracking-tight font-semibold text-black">Shortcut Report</span>
                    <span class="text-xs md:text-sm font-normal">View Report</span>
                </div>

                <div class="grid grid-cols-12 gap-6 py-5">
                    <div class="col-span-12 sm:col-span-4 px-6 py-8 rounded-xl bg-[#EEF0F8] 2xl:col-span-3">
                        <div
                            class="w-[70px] h-[70px] rounded-2xl bg-[#657CEE] flex justify-center items-center text-white">
                            <span class="material-symbols-outlined">
                                account_balance
                                </span>
                        </div>

                        <div class="flex flex-col">
                            <div class="flex flex-col py-7">
                                <span class="text-2xl font-bold">&#8377;{{this._serviceService.dashData[0].totalBillingAmmount}}</span>
                                <span class="font-semibold text-gray-580 mt-1">Total Balance</span>
                            </div>

                            <div class="bg-white rounded-3xl w-[60px] flex justify-center px-1 py-2">
                                <!-- <span>+65%</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-4 px-6 py-8 rounded-xl bg-[#f5e4d2] 2xl:col-span-3">
                        <div
                            class="w-[70px] h-[70px] rounded-2xl bg-[#E6AA69] flex justify-center items-center text-white">
                            gh
                        </div>

                        <div class="flex flex-col">
                            <div class="flex flex-col py-7">
                                <span class="text-2xl font-bold">{{this._serviceService.dashData[0].transactions
                                }}</span>
                                <span class="font-semibold text-gray-580 mt-1">Today's Transaction</span>
                            </div>

                            <div class="bg-white rounded-3xl w-[60px] flex justify-center px-1 py-2">
                                <!-- <span>+65%</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-4 px-6 py-8 rounded-xl bg-[#f3e6e6] 2xl:col-span-3">
                        <div
                            class="w-[70px] h-[70px] rounded-2xl bg-[#DC7B7B] flex justify-center items-center text-white">
                            gh
                        </div>

                        <div class="flex flex-col">
                            <div class="flex flex-col py-7">
                                <span class="text-2xl font-bold">&#8377;24,575</span>
                                <span class="font-semibold text-gray-580 mt-1">Today's Expence</span>
                            </div>

                            <div class="bg-white rounded-3xl w-[60px] flex justify-center px-1 py-2">
                                <!-- <span>+65%</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-4 px-6 py-8 rounded-xl bg-[#e7f0e1] 2xl:col-span-3">
                        <div
                            class="w-[70px] h-[70px] rounded-2xl bg-[#92D268] flex justify-center items-center text-white">
                            gh
                        </div>

                        <div class="flex flex-col">
                            <div class="flex flex-col py-7">
                                <span class="text-2xl font-bold">&#8377;24,575</span>
                                <span class="font-semibold text-gray-580 mt-1">Today's Net Income</span>
                            </div>

                            <div class="bg-white rounded-3xl w-[60px] flex justify-center px-1 py-2">
                                <!-- <span>+65%</span> -->
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-span-12 sm:col-span-4 2xl:col-span-12 px-6 py-8 rounded-xl bg-white border-[1.5px] border-dashed flex justify-center items-center h-[90px] md:h-[280px] 2xl:h-[90px]">
                        <div>+</div>
                    </div>
                </div>
            </div>

            <div
                class="p-6 col-span-12 lg:col-span-6 xl:col-span-3 lg:block bg-white rounded-xl h-[500px] overflow-hidden xl:h-[714px] 2xl:h-[515px]">
                <div class="flex justify-between">
                    <span class="text-base tracking-tight font-semibold text-black">Recent Clients</span>
                    <button class="text-xs md:text-sm font-normal bg-purple-800 rounded-sm py-1 px-2 text-white">
                        list 5
                    </button>
                </div>
                <div
                    class="bg-white mt-5 w-full overflow-x-hidden overflow-y-scroll h-[405px] xl:h-[620px] 2xl:h-[419px] border">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400 sticky bg-white top-[-1px]">
                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">Amount</th>
                            </tr>
                        </thead>

                        <tbody class="text-sm text-gray-500 dark:text-gray-400">
                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Vikrant Pawar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Tushar Dhotre</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Pranav Joshi</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Swarup sutar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Swarup sutar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Vikrant Pawar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Tushar Dhotre</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Pranav Joshi</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Swarup sutar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Swarup sutar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="p-6 col-span-12 lg:col-span-3 lg:block bg-white rounded-xl h-[500px] overflow-hidden">
                <div class="flex justify-between">
                    <span class="text-base tracking-tight font-semibold text-black">User</span>
                    <!-- <button
                class="text-xs md:text-sm font-normal bg-purple-800 rounded-sm py-1 px-2 text-white"
              >
                list 5
              </button> -->
                </div>
                <div class="bg-white mt-5 w-full overflow-x-hidden overflow-y-scroll h-[405px]">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <tbody class="text-sm text-gray-500 dark:text-gray-400">
                            <tr *ngFor="let data of this._serviceService.dashData[0].salesEmployeesName">
                                <td class="w-[50px]">
                                    <img class="mx-auto"
                                        src="https://cashier-bdevs.vercel.app/assets/img/user/user-1.png"
                                        alt="User picture" />
                                </td>
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>{{data}}</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">
                                    <span class="border border-green-800 rounded-2xl py-1 px-3">Offline</span>
                                </td>
                            </tr>

                         
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="p-6 col-span-12 lg:col-span-6 lg:block bg-white rounded-xl h-[500px] overflow-hidden">
                <div class="flex justify-between">
                    <span class="text-base tracking-tight font-semibold text-black">Balance Alert</span>
                    <button class="text-xs md:text-sm font-normal bg-purple-800 rounded-sm py-1 px-2 text-white">
                        list 5
                    </button>
                </div>
                <div class="bg-white mt-5 w-full overflow-x-hidden overflow-y-scroll h-[405px] border">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400 sticky bg-white top-[-1px]">
                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">Amount</th>
                            </tr>
                        </thead>

                        <tbody class="text-sm text-gray-500 dark:text-gray-400">
                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Vikrant Pawar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Tushar Dhotre</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Pranav Joshi</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Swarup sutar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Swarup sutar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Vikrant Pawar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Tushar Dhotre</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Pranav Joshi</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Swarup sutar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>

                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                <td scope="row"
                                    class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 flex flex-col">
                                    <span>Swarup sutar</span>
                                    <span class="mt-1 text-xs font-light">+91 2154653289</span>
                                </td>
                                <td class="px-6 py-4">$9.044</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-span-10 "><router-outlet *ngIf="getUrl()"></router-outlet></div>

        <div class="col-span-12 p-5 text-center bg-[#6F4EF6] text-white font-semibold bottom-0">
            <span>© Copyright by aPc web works -2022-2023</span>
        </div>
    </div>

</div>