

            <!-- -- <div class="flex justify-center lg:mt-6 xl:mt-[40px]">
                <nav aria-label="Page navigation example">
                    <ul class="flex items-center -space-x-px h-8 text-sm">
                        <li (click)="previous()">
                            <a
                                class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Previous</span>
                                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M5 1 1 5l4 4" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"></a>
                        </li>
                        <li (click)="next()">
                            <a
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Next</span>
                                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 9 4-4-4-4" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div> -- -->

       








<div class="gird grid-cols-12">
    <div class="p-6 col-span-12 lg:col-span-6 lg:block bg-[#eef0f8] rounded-xl">
        <div class="flex justify-between bg-white p-4">
            <span class="text-base tracking-tight font-semibold text-black">PROJECT MANGMENT</span>
        </div>
        <div class="grid grid-cols-12">
            <div class="py-4 col-span-12 grid grid-cols-12 gap-2">
                <div class="col-span-12 sm:col-span-4 ">
                    <input class="py-2 outline-none border px-3 rounded-md w-full " type="text"
                        placeholder="Search Projects" title="Search employee" [(ngModel)]="searchText"
                        (input)="searchProjects()">
                </div>
                <div class="col-span-6 sm:col-span-2">
                    <div class="col-span-6 sm:col-span-2">
                        <select class="py-2 px-3 border rounded-md focus:outline-none w-full"
                            [(ngModel)]="selectedValue" (change)="onSelectChange(selectedValue)">
                            <option value="all" selected>All </option>
                            <option value="complete">Complete</option>
                            <option value="incomplete">Incomplete</option>
                            <option value="pending">Pending</option>
                        </select>
                    </div>

                </div>
                <div class=" col-span-6 sm:col-span-6 flex justify-end">
                    <button class="text-sm font-sans border py-2 px-4 bg-gray-50 font-semibold "
                        (click)="add_project()">Add
                        Project</button>
                </div>
            </div>
        </div>

        <div class="bg-white mt-5 w-full border min-h-[100px] overflow-x-scroll sm:overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase dark:text-gray-400 sticky top-[-1px] bg-white  ">
                    <tr class="border-b border-gray-200 dark:border-gray-700">
                        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800 sticky left-[-1px]">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3  bg-gray-50 dark:bg-gray-800"> Project Name</th>
                        <th scope="col" class="px-6 py-3  bg-gray-50 dark:bg-gray-800">Start Date</th>
                        <th scope="col" class="px-6 py-3  bg-gray-50 dark:bg-gray-800">Status</th>
                        <th scope="col" class="px-6 py-3  bg-gray-50 dark:bg-gray-800">Action</th>
                    </tr>
                </thead>
                <tbody class="text-sm text-gray-500 dark:text-gray-400">
                    <tr class="border-b border-gray-200 dark:border-gray-700"
                        *ngFor="let employee of (this.employees.length > 0 ? this.employees : this._servicesService.projData) let i = index">
                        <td scope="row"
                            class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 sticky left-[-1px]">
                            {{i+1}}
                        </td>
                        <td class="px-6 py-4"> {{employee.project_name}}
                        </td>
                        <td scope="row"
                            class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 ">
                            {{employee.project_start_date|date:'dd/MM/YYYY'}}
                        </td>
                        <td scope="row"
                            class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 ">
                            {{employee.project_status}}
                        </td>
                        <td scope="row"
                            class="px-6 py-4 font-medium whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800 ">
                            <button class="font-medium text-blue-600 dark:text-blue-500 px-2.5 h-5 inline-block"
                                (click)="openDetails(employee,i)">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>