.validation {
    border:red 1px solid
}

.custom-select-dropdown {
    display: none;
    overflow-y: auto;
    border-top: none;
    z-index: 1;
}

.custom-select-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.valid-input {
    border: 1px solid green;
  }
  
.invalid-input {
    border: 1px solid red;
  }
  .container .default-border {
    border: 1px solid black; /* Change this to your desired default border color */
}
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db; /* Change the color as needed */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite; /* Adjust animation duration and style as needed */
    display: inline-block;
    margin-right: 8px; /* Adjust spacing as needed */
}

/* Keyframes for spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}