<div class="p-5 bg-[#eef0f8]">
    <div class="grid grid-cols-12 border-b-2 bg-white p-4">
        <div class="col-span-8 flex items-center">
            <span class="font-bold text-base">Manage Bill</span>
        </div>
    </div>

    <div class="grid grid-cols-12 py-4">
        <div class="col-span-6">

            <input class="py-2 outline-none border px-3 rounded-md w-[350px]" type="text" placeholder="Search bill"
                title="Search employee" [(ngModel)]="searchText" (input)="searchProjects()">
            <!-- <select class="py-2 px-3 w-[150px] border rounded-md focus:outline-none ml-2" [(ngModel)]="selectedValue"
                (change)="onSelectChange(selectedValue)">
                <option value="all" selected>All </option>
                <option value="complete">Complete</option>
                <option value="incomplete">Incomplete</option>
                <option value="pending">Pending</option>

            </select> -->
        </div>

        <div class="col-span-6">

            <button (click)="addbill()"
                class="text-sm font-sans border py-2  px-4 bg-gray-50 mx-1 rounded-lg font-semibold my-1 float-right">Add
                Bill</button>
        </div>
    </div>



    <div class="grid grid-cols-12">
        <div class="col-span-12 bg-white">
            <div class="relative sm:rounded-lg min-h-[100px]">

                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Id
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Vendor Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Bill Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Order Number
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                            *ngFor="let employee of (this.employees.length > 0 ? this.employees : this._servicesService.projData) let i = index">

                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{i+1}}
                            </th>

                            <td class="px-6 py-4">
                                {{employee.project_name}}
                            </td>
                            <td class="px-6 py-4">
                                {{employee.project_start_date|date:'dd/MM/YYYY'}}
                            </td>
                            <td class="px-6 py-4">
                                {{employee.project_status}}
                            </td>
                            <td class="px-6 py-4">
                                <select class="py-2 px-3 w-[120px] border rounded-md focus:outline-none ml-2" (change)="viewbill_popup(selectedValue)" [(ngModel)]="selectedValue"
                                   >
                                    <option value="all" selected>Action </option>
                                    <option value="viewBill" >View Bill </option>
                                    <option value="editBill">Edit Bill</option>
                                    <option value="deleteBill">Delete Bill</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <div class="flex justify-center lg:mt-6 xl:mt-[40px]">
                <nav aria-label="Page navigation example">
                    <ul class="flex items-center -space-x-px h-8 text-sm">
                        <li (click)="previous()">
                            <a
                                class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Previous</span>
                                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M5 1 1 5l4 4" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"></a>
                        </li>
                        <li (click)="next()">
                            <a
                                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Next</span>
                                <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 9 4-4-4-4" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div> -->

        </div>
    </div>
    <!-- </ng-template> -->
</div>