<div class="relative overflow-x-auto p-8 w-[850px] h-[850px] ">

    <div class="flex flex-nowrap justify-between w-full py-4">
        <h1 class="font-bold text-lg">View Details</h1>
        <button type="button" mat-dialog-close
            class=" top-[-50px] right-[-50px] float-right ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
            data-dismiss-target="#toast-default" aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
        </button>
    </div>

    <div class="grid grid-cols-12 p-10">
        <div class="col-span-4 border p-8">
            <span class="font-semibold text-xs">Billed to</span>
            <p class="mt-4" *ngFor="let employee of( this._servicesService.singleBillData)let i = index">
                Name: {{employee.customerName}}
                Phone: {{employee.customerContact}}
            </p>
        </div>
        <div class="col-span-4 border font-semibold text-xs p-8"> Shipped to
            <p *ngFor="let employee of( this._servicesService.singleBillData)let i = index">{{employee.shippingDetails}}
            </p>
        </div>
        <div class="col-span-4 border flex flex-col p-8">
            <div>
                <span class="text-xs font-semibold">Issue Date:</span>
                <p *ngFor="let employee of( this._servicesService.singleBillData)let i = index">{{employee.billDate}}
                </p>
            </div>
        </div>
    </div>

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700  bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        SL
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Products
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Qty
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tax
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Discount
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
                    *ngFor="let employee of( this._servicesService.singleBillData)let i = index">
                    <td class=" px-6 py-4">{{i+1}}</td>
                    <td class=" px-6 py-4">{{employee.products}}</td>
                    <td class=" px-6 py-4">{{employee.price}}</td>
                    <td class=" px-6 py-4">{{employee.quantity}}</td>
                    <td class=" px-6 py-4">{{employee.taxGST}}</td>
                    <td class=" px-6 py-4">{{employee.discount}}</td>
                    <td class=" px-6 py-4">{{employee.total}}</td>
                </tr>
                <tr class=" border-b">
                    <td colspan="4" class=" px-6 py-4 font-bold ">Total =</td>
                    <td class="px-6 py-4 font-bold ">2</td>
                    <td class="px-6 py-4 font-bold ">3</td>
                    <td class="px-6 py-4 font-bold ">4</td>
                </tr>
                <tr class=" border-b">
                    <td colspan="5" class="px-6 py-4">Order Discount:</td>
                    <td class="px-6 py-4">2</td>
                    <td class="px-6 py-4">3</td>
                </tr>
                <tr class=" border-b">
                    <td colspan="5" class="px-6 py-4">Order Tax:</td>
                    <td class="px-6 py-4">2</td>
                    <td class="px-6 py-4">3</td>
                </tr>
                <tr class="text-xs text-gray-700  bg-gray-100 dark:bg-gray-700 dark:text-gray-400  border-b">
                    <td colspan="6" class="px-6 py-4  font-bold ">Grand Total:</td>
                    <td class="px-6 py-4 font-bold  ">3</td>
                </tr>
                <tr class=" border-b">
                    <td colspan="6" class="px-6 py-4 font-bold ">Paid Amount:</td>
                    <td class="px-6 py-4">3</td>
                </tr>
                <tr class="text-xs text-gray-700  bg-gray-100 dark:bg-gray-700 dark:text-gray-400  border-b">
                    <td colspan="6" class="px-6 py-4  font-bold">Due Amount:</td>
                    <td class="px-6 py-4">3</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <span class="flex py-5 font-semibold text-sm">Note: &nbsp;
            <p>N/A</p>
        </span>
    </div>
    <div>
        <span class="font-semibold text-sm">Order Number:
            <p></p>
        </span>
    </div>

    <div class="flex  items-center mt-8">
        <div>
            <button
                class="text-white border bg-[#6F4EF6] hover:bg-green-400 focus:outline-none font-medium rounded-lg text-sm px-5 py-2 text-center"
                (click)="showOptions = !showOptions">
                Send Bill
            </button>
            <div *ngIf="showOptions">
                <button (click)="sendViaEmail()">Send via Email</button>
                <button (click)="sendViaWhatsApp()">Send via WhatsApp</button>
            </div>
        </div>
        <button type="button"
            class="text-white border bg-[#DF7272]   hover:bg-green-300 focus:outline-none font-medium rounded-lg text-sm px-5 py-2 text-cente">
            Update Bill
        </button>
    </div>
</div>


































<!-- <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 p" *ngIf="showTable">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 rounded-lg" colspan="2">
                    Project Detail's
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Project Name
                </th>
                <td class="px-6 py-4">
                    {{data.data.project_name}}
                </td>
            </tr>

            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Project Details
                </th>
                <td class="px-6 py-4">
                    {{data.data.project_details}}
                </td>
            </tr>

            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Start Date
                </th>
                <td class="px-6 py-4">
                    {{data.data.project_start_date |date:'dd/MM/YYYY'   }}
                </td>
            </tr>

            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Due date
                </th>
                <td class="px-6 py-4">
                    {{data.data.project_due_date|date:'dd/MM/YYYY'}}
                </td>
            </tr>

            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Status
                </th>
                <td class="px-6 py-4" [innerHTML]="checkStatus()"></td>
            </tr>

           
            

            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Project Workers
                </th>
                <td class="px-6 py-4">
                    {{data.data.project_workers}}
                </td>
            </tr>
        
        </tbody>
    </table>



    <div *ngIf="!showTable">
        <form #myForm="ngForm" class="flex flex-col space-y-4">
            <div class="flex justify-between">
                <div class="mx-2">
                    <label class="text-sm font-medium">Project Name</label>
                    <input class="w-full" type="text" [(ngModel)]="project_name" [ngModelOptions]="{standalone: true}"
                        required
                        class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300">
                </div>

                <div class="mx-2">
                    <label class="text-sm font-medium">Project Detail's</label>
                    <textarea [(ngModel)]="project_details" [ngModelOptions]="{standalone: true}"
                        class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300"></textarea>
                </div>
            </div>

            
            <div class="flex justify-between">
                <div class="mx-2">
                    <label class="text-sm font-medium"> Start Date</label>
                    <input class="w-full" type="date" [(ngModel)]="project_start_date"
                        [ngModelOptions]="{standalone: true}"
                        class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300">
                </div>

                <div class="mx-2">
                    <label class="text-sm font-medium">Due date</label>
                    <input class="w-full" type="date" [(ngModel)]="project_due_date" [ngModelOptions]="{standalone: true}"
                        class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300">
                </div>
            </div>

            

            
            <div class="flex justify-between">
                <div class="mx-2">
                    <label class="text-sm font-medium">Project Workers </label>
                    <input class="w-full" type="number" [(ngModel)]="project_workers" [ngModelOptions]="{standalone: true}"
                        class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300">
                </div>

                <div class="mx-2">
                    <label class="text-sm font-medium">Status</label>
                    <select  required  [(ngModel)]="project_status" [ngModelOptions]="{standalone: true}"
                        class="border rounded-lg px-3 py-2 mt-1 w-full focus:outline-none focus:ring focus:border-blue-300">
                        <option value="" disabled selected>Status</option>
                        <option value="complete">Complete</option>
                        <option value="incomplete">Incomplete</option>
                        <option value="pending">Pending</option>
                    </select>
                </div>
                
            </div>

            <div class="flex justify-between items-center mt-8">
                <button type="button"
                    class="text-green-700 border border-green-700 focus:outline-none font-medium rounded-lg text-sm px-5 py-2 text-center"
                    (click)="saveDetails()">
                    Save
                </button>

                <button type="button"
                    class="text-red-700 border border-red-700 focus:outline-none font-medium rounded-lg text-sm px-5 py-2 text-cente"
                    (click)="cancelEdit()">
                    Cancel
                </button>
            </div>
        </form>
    </div> 


    <div class="flex justify-between items-center mt-8" *ngIf="showTable">
        <button
            class="text-green-700 border border-green-700 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2 text-cente"
            (click)="editDetails()">Edit</button>
        <button
            class="text-red-700 border border-red-700 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2 text-cente"
            (click)="deleteDetails()">Delete</button>
    </div> 
</div>-->


<!-- <h1>hii</h1> -->